div .route-toolbar-top {
	& > button {
		display: none;
	}
	& > ul {
		:nth-child(4) {
		    display: none;
		}
	}
}

.tag-stripe span {
    height: fit-content;
    color: black;
    span {
        height: 100%;
    }
}
